@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SELECTION */
::selection {
  background-color: rgb(97, 97, 97);
}

/* SCROLLBAR */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1c1d26;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}